<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ft_transcendance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- <script type="importmap"> { "imports": { "three": "https://cdn.jsdelivr.net/npm/three@v0.167.1/build/three.module.js" }} </script> -->
    {% load static %}
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/signup.js' %}">var CSRF_TOKEN = '{{ csrf_token }}';</script>
	<script src="{% static 'js/login.js' %}">var CSRF_TOKEN = '{{ csrf_token }}';</script>
    {% comment %} <script src="{% static 'js/app.js' %}">var CSRF_TOKEN = '{{ csrf_token }}';</script> {% endcomment %}
	<script src="{% static 'js/pong.js' %}">var CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script src="{% static 'js/logout.js' %}">var CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script src="{% static 'js/router.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" data-link="/">ft_transcendance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="btn btn-primary me-2" data-link>Home</a>
                </li>
                <li class="nav-item">
                    <a href="/pong" class="btn btn-primary me-2" data-link>Pong</a>
                </li>
                <li class="nav-item">
                    <a href="/other-game" class="btn btn-primary me-2" data-link>Other game</a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="btn btn-primary me-2" data-link>Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/stats" class="btn btn-primary me-2" data-link>Stats</a>
                </li>
                <li class="nav-item">
                    <a href="/friends" class="btn btn-primary me-2" data-link>Friends</a>
                </li>
            </ul>
            <div id="profile-menu">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Log in</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign up</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="alert-placeholder">
        {% if messages %}
            {% for message in messages %}
                <div class="alert-banner" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>    

	<div id="app" class="container mt-4 content-wrapper"></div>

    <!-- Log in Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                    <button type="button" id="login-close-btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="login-form">
                        <div class="mb-3">
                            <label for="loginUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="login-username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="login-password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </form>
					<a class="btn btn-primary w-100 mt-3" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-da67bd33b552506b9d65c73ab83783a4f4d9c9c73c30db86ee1cb8f544f0f45f&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fauth%2Fauth42%2F&response_type=code">Log In with 42auth</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign up Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signUpModalLabel">Sign Up</h5>
                    <button type="button" class="btn-close" id="signup-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="signup-form">
                        <div class="mb-3">
                            <label for="signup-username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="signup-username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="signup-password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="signup-password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="signup-confirm-password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="signup-confirm-password" name="confirm_password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-4">
        <p>&copy; 2024 ft_transcendance. All rights reserved.</p>
    </footer>
</body>
</html>
