<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FT_TRANSCENDENCE</title>
	{% load static %}
    <script src="{% static 'js/app.js' %}">var CSRF_TOKEN = '{{ csrf_token }}';</script>
</head>
<body>
    <div id="app">
        <h1>Items</h1>
        <ul id="item-list"></ul>
        <h2>Add Item</h2>
        <form id="item-form">
            <input type="text" id="item-name" placeholder="Name" required>
            <textarea id="item-description" placeholder="Description" required></textarea>
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>